In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("2018_2021년 버스(지하철정보+출퇴근).csv", index_col=0)
df.head()

,정류장_ID,정류장_명칭,정류장_유형,정류장_번호,위도,경도,버스도착정보안내기_설치_여부,line,name,code,lat,lng,distance,출근,퇴근,총이동량
0,717104358,계수사거리(경유),가상정류장,0.0,126.817473,37.452473,미설치,01호선,역곡,1803.0,37.485178,126.811502,3.0,2224,384,2608
1,500000288,행사장입구,마을버스,25965.0,126.691556,37.321742,미설치,04호선,정왕,1761.0,37.351735,126.742989,5.0,1893,770,2663
2,500000287,행사장입구,마을버스,25095.0,126.691728,37.321942,미설치,04호선,정왕,1761.0,37.351735,126.742989,5.0,1491,281,1772
3,500000286,아남중전기,일반차로,25963.0,126.710485,37.319934,미설치,04호선,정왕,1761.0,37.351735,126.742989,4.0,2400,1424,3824
4,500000285,3Z,일반차로,25964.0,126.707130,37.320566,미설치,04호선,정왕,1761.0,37.351735,126.742989,4.0,173,466,639

In [46]:
df['distance'].describe()

count    69939.000000
mean         6.737876
std         72.827084
min          0.000000
25%          0.415973
50%          1.595443
75%          5.621082
max      13138.413037
Name: distance, dtype: float64

In [70]:
df_mask = (df['distance']<df['distance'].describe()['25%'])
filtered_df = df[df_mask]
filtered_df

,정류장_ID,정류장_명칭,정류장_유형,정류장_번호,위도,경도,버스도착정보안내기_설치_여부,line,name,code,lat,lng,distance,출근,퇴근,총이동량
96,500000167,성환터미널,일반차로,0.0,127.132673,36.916849,미설치,01호선,성환,1725.0,36.916076,127.126964,0.0,8,296,304
201,277101873,뱅뱅사거리(경유),일반차로,78037.0,127.031746,37.489806,미설치,02호선,강남,222.0,37.497175,127.027926,0.0,1659,2226,3885
207,277101867,역삼동.우성아파트(경유),일반차로,78036.0,127.030457,37.491367,미설치,02호선,강남,222.0,37.497175,127.027926,0.0,605,1063,1668
214,277101860,도곡1동주민센터(경유),일반차로,78035.0,127.040832,37.492126,미설치,03호선,매봉,333.0,37.486947,127.046769,0.0,973,1578,2551
221,277101853,강남역사거리(경유),일반차로,0.0,127.028273,37.498512,미설치,02호선,역삼,221.0,37.500622,127.036456,0.0,1044,141,1185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69937,100000005,혜화동로터리.여운형활동터,중앙차로,1005.0,127.001744,37.586243,설치,04호선,한성대입구,419.0,37.588458,127.006221,0.0,838,128,966
69938,100000004,종로2가.삼일교,중앙차로,1004.0,126.987613,37.568579,설치,01호선,종로3가,153.0,37.571607,126.991806,0.0,110,621,731
69939,100000003,명륜3가.성대입구,중앙차로,1003.0,126.998340,37.582671,설치,04호선,한성대입구,419.0,37.588458,127.006221,0.0,17433,21161,38594
69940,100000002,창경궁.서울대학교병원,중앙차로,1002.0,126.996566,37.579183,설치,01호선,종로3가,153.0,37.571607,126.991806,0.0,704,908,1612
69941,100000001,종로2가사거리,중앙차로,1001.0,126.987750,37.569765,설치,01호선,종로3가,153.0,37.571607,126.991806,0.0,244,2749,2993

In [71]:
df_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474 entries, 0 to 473
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   line    474 non-null    object
 1   name    474 non-null    object
 2   출근      474 non-null    int64
dtypes: int64(1), object(2)
memory usage: 11.2+ KB

In [72]:
df_sum = pd.pivot_table(data=filtered_df, index=['line', 'name'], values='출근', aggfunc='sum').reset_index()
df_sum.sort_values('출근', ascending=False)[0:20]

     line     name      출근
35   01호선       백운  198067
55   01호선       수원  177789
64   01호선       역곡  176901
79   01호선     종로3가  145708
3    01호선       개봉  133306
1    01호선  가산디지털단지  126601
41   01호선       부평  122020
160  03호선       삼송  119111
170  03호선       원당  118375
11   01호선     금천구청  116635
5    01호선       광명  115082
180  03호선       화정  113682
2    01호선       간석  113134
175  03호선       주엽  110441
107  02호선       방배  107982
77   01호선      제물포  104866
36   01호선       병점  103782
171  03호선       원흥  100675
40   01호선       부천  100128
145  03호선       금호   99742

In [60]:
df_sum.to_csv('버스_지하철역부근_출근.csv')