In [2]:
import pandas as pd

In [8]:
list = ['0'+str(i) for i in range(1,10)] + ['10', '11', '12']

df_A = pd.read_csv(f"raw_data/2021년_버스노선별_정류장별_시간대별_승하차_인원_정보(01월).csv", encoding='cp949')
for i in list:
    month = i
    df_B = pd.read_csv(f"raw_data/2021년_버스노선별_정류장별_시간대별_승하차_인원_정보({month}월).csv", encoding='cp949')
    df_A = pd.concat([df_A,df_B])

df_A

/opt/homebrew/Caskroom/miniforge/base/envs/mulcam_ds/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202101,100,100번(하계동~용산구청),100000002,01002,창경궁.서울대학교병원,0,0,0,0,...,18,38,30,25,40,30,23,18,4,20210203
1,202101,100,100번(하계동~용산구청),100000003,01003,명륜3가.성대입구,0,0,0,0,...,82,79,63,68,64,43,52,11,10,20210203
2,202101,100,100번(하계동~용산구청),100000005,01005,혜화동로터리.여운형활동터,0,0,0,0,...,103,21,90,20,107,17,80,1,10,20210203
3,202101,100,100번(하계동~용산구청),100000102,01198,원남동,0,0,0,0,...,51,113,48,95,25,53,37,14,3,20210203
4,202101,100,100번(하계동~용산구청),100000108,01204,종로5가.효제동.김상옥의거터,8,6,0,0,...,27,50,19,70,29,34,15,11,13,20210203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39281,202112,6648,6648(방화동~양천구청),999800002,~,김포교통(종점가상),0,0,0,0,...,0,1,0,0,2,0,0,0,0,20220103
39282,202112,9404,9404번(분당구미~신사역),999800003,~,구미동차고지(기점가상),0,2,0,2,...,2,2,3,0,3,2,5,1,2,20220103
39283,202112,9404,9404번(분당구미~신사역),999800004,~,구미동차고지(종점가상),0,14,0,4,...,2,0,3,0,6,0,15,0,4,20220103
39284,202112,9707,9707번(고양 가좌동~영등포역),999800005,~,가좌동종점(종점가상),0,5,0,4,...,6,1,4,0,2,0,0,0,1,20220103
39285,202112,9701,9701번(가좌동~서울역),999800005,~,가좌동종점(종점가상),0,5,0,3,...,3,0,4,0,2,0,2,0,2,20220103

In [9]:
df_A.describe()

,사용년월,표준버스정류장ID,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,2시승차총승객수,2시하차총승객수,3시승차총승객수,3시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
count,508457.000000,5.084570e+05,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,...,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,508457.000000,5.084570e+05
mean,202106.078258,1.276639e+08,11.337765,14.999597,2.453159,3.356976,1.239916,1.417970,1.221380,1.076168,...,197.988670,136.684756,137.262793,137.675963,134.837976,114.902088,121.902696,43.743093,53.137565,2.021139e+07
std,3.628256,7.284188e+07,37.934380,36.701030,17.207222,16.300700,11.480555,10.120074,11.752635,8.851236,...,264.940776,274.566180,185.108687,287.458168,183.664220,261.020470,177.296371,116.556327,88.191917,2.541267e+03
min,202101.000000,1.000000e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.021020e+07
25%,202103.000000,1.080000e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,32.000000,14.000000,21.000000,12.000000,20.000000,9.000000,14.000000,1.000000,3.000000,2.021040e+07
50%,202106.000000,1.140003e+08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,116.000000,58.000000,79.000000,54.000000,76.000000,40.000000,62.000000,12.000000,22.000000,2.021070e+07
75%,202109.000000,1.210001e+08,6.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,264.000000,150.000000,182.000000,145.000000,179.000000,114.000000,159.000000,41.000000,66.000000,2.021100e+07
max,202112.000000,9.998000e+08,1820.000000,1317.000000,1569.000000,793.000000,808.000000,563.000000,559.000000,469.000000,...,8246.000000,8133.000000,6026.000000,8665.000000,5622.000000,8888.000000,6457.000000,5230.000000,3152.000000,2.022010e+07

In [10]:
df_A.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 508457 entries, 0 to 39285
Data columns (total 55 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사용년월        508457 non-null  int64
 1   노선번호        508457 non-null  object
 2   노선명         508457 non-null  object
 3   표준버스정류장ID   508457 non-null  int64
 4   버스정류장ARS번호  508457 non-null  object
 5   역명          508457 non-null  object
 6   00시승차총승객수   508457 non-null  int64
 7   00시하차총승객수   508457 non-null  int64
 8   1시승차총승객수    508457 non-null  int64
 9   1시하차총승객수    508457 non-null  int64
 10  2시승차총승객수    508457 non-null  int64
 11  2시하차총승객수    508457 non-null  int64
 12  3시승차총승객수    508457 non-null  int64
 13  3시하차총승객수    508457 non-null  int64
 14  4시승차총승객수    508457 non-null  int64
 15  4시하차총승객수    508457 non-null  int64
 16  5시승차총승객수    508457 non-null  int64
 17  5시하차총승객수    508457 non-null  int64
 18  6시승차총승객수    508457 non-null  int64
 19  6시하차총승객수    508457 non-null  int64
 20  7시승차총승객수    508457 non-null  int64
 21  7시하차총승객수    508457 non-null  int64
 22  8시승차총승객수    508457 non-null  int64
 23  8시하차총승객수    508457 non-null  int64
 24  9시승차총승객수    508457 non-null  int64
 25  9시하차총승객수    508457 non-null  int64
 26  10시승차총승객수   508457 non-null  int64
 27  10시하차총승객수   508457 non-null  int64
 28  11시승차총승객수   508457 non-null  int64
 29  11시하차총승객수   508457 non-null  int64
 30  12시승차총승객수   508457 non-null  int64
 31  12시하차총승객수   508457 non-null  int64
 32  13시승차총승객수   508457 non-null  int64
 33  13시하차총승객수   508457 non-null  int64
 34  14시승차총승객수   508457 non-null  int64
 35  14시하차총승객수   508457 non-null  int64
 36  15시승차총승객수   508457 non-null  int64
 37  15시하차총승객수   508457 non-null  int64
 38  16시승차총승객수   508457 non-null  int64
 39  16시하차총승객수   508457 non-null  int64
 40  17시승차총승객수   508457 non-null  int64
 41  17시하차총승객수   508457 non-null  int64
 42  18시승차총승객수   508457 non-null  int64
 43  18시하차총승객수   508457 non-null  int64
 44  19시승차총승객수   508457 non-null  int64
 45  19시하차총승객수   508457 non-null  int64
 46  20시승차총승객수   508457 non-null  int64
 47  20시하차총승객수   508457 non-null  int64
 48  21시승차총승객수   508457 non-null  int64
 49  21시하차총승객수   508457 non-null  int64
 50  22시승차총승객수   508457 non-null  int64
 51  22시하차총승객수   508457 non-null  int64
 52  23시승차총승객수   508457 non-null  int64
 53  23시하차총승객수   508457 non-null  int64
 54  등록일자        508457 non-null  int64
dtypes: int64(51), object(4)
memory usage: 217.2+ MB

In [11]:
df = df_A[["사용년월", "노선번호", "노선명", "표준버스정류장ID", '역명', '7시하차총승객수', '8시하차총승객수', '9시하차총승객수', '10시하차총승객수', '17시승차총승객수', '18시승차총승객수', '19시승차총승객수', '20시승차총승객수']]

In [12]:
df

,사용년월,노선번호,노선명,표준버스정류장ID,역명,7시하차총승객수,8시하차총승객수,9시하차총승객수,10시하차총승객수,17시승차총승객수,18시승차총승객수,19시승차총승객수,20시승차총승객수
0,202101,100,100번(하계동~용산구청),100000002,창경궁.서울대학교병원,423,617,392,301,101,90,60,38
1,202101,100,100번(하계동~용산구청),100000003,명륜3가.성대입구,363,464,346,324,112,95,70,79
2,202101,100,100번(하계동~용산구청),100000005,혜화동로터리.여운형활동터,253,264,263,234,41,43,25,21
3,202101,100,100번(하계동~용산구청),100000102,원남동,364,778,600,377,209,394,167,113
4,202101,100,100번(하계동~용산구청),100000108,종로5가.효제동.김상옥의거터,19,64,28,25,117,193,70,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39281,202112,6648,6648(방화동~양천구청),999800002,김포교통(종점가상),0,1,0,0,0,0,0,1
39282,202112,9404,9404번(분당구미~신사역),999800003,구미동차고지(기점가상),1,0,0,1,2,13,2,2
39283,202112,9404,9404번(분당구미~신사역),999800004,구미동차고지(종점가상),6,13,1,2,0,0,0,0
39284,202112,9707,9707번(고양 가좌동~영등포역),999800005,가좌동종점(종점가상),14,12,10,8,0,0,0,1
39285,202112,9701,9701번(가좌동~서울역),999800005,가좌동종점(종점가상),1,40,18,2,0,0,0,0

In [13]:
pd_pivot = pd.pivot_table(df,index=['사용년월','노선번호','노선명','표준버스정류장ID','역명'], aggfunc='sum')
pd_pivot

                                                       10시하차총승객수  17시승차총승객수  \
사용년월   노선번호 노선명               표준버스정류장ID 역명
202101 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스       1308        624
                              102000003 신용산역                 946        368
                              102000029 한강대교북단               262        680
                              102000153 용문시장                 228        516
                              102000154 용문시장                 286        146
...                                                          ...        ...
202112 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고                210         43
                              106900026 진주빌라.바다약국            192          3
                              106900028 서일대정문                527          7
                              106900029 서일대정문                 24        361
                              106900030 IBK기업은행면목동지점         203         51

                                                       18시승차총승객수  19시승차총승객수  \
사용년월   노선번호 노선명               표준버스정류장ID 역명
202101 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스       1296        526
                              102000003 신용산역                 564        494
                              102000029 한강대교북단               792        722
                              102000153 용문시장                 612        398
                              102000154 용문시장                 242        302
...                                                          ...        ...
202112 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고                 33         22
                              106900026 진주빌라.바다약국              0          5
                              106900028 서일대정문                  5          9
                              106900029 서일대정문                286        196
                              106900030 IBK기업은행면목동지점          61         47

                                                       20시승차총승객수  7시하차총승객수  \
사용년월   노선번호 노선명               표준버스정류장ID 역명
202101 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스        344      2280
                              102000003 신용산역                 430      1260
                              102000029 한강대교북단               654       208
                              102000153 용문시장                 324       102
                              102000154 용문시장                 254       140
...                                                          ...       ...
202112 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고                 21       123
                              106900026 진주빌라.바다약국              1        67
                              106900028 서일대정문                 11        96
                              106900029 서일대정문                124        16
                              106900030 IBK기업은행면목동지점          15       538

                                                       8시하차총승객수  9시하차총승객수
사용년월   노선번호 노선명               표준버스정류장ID 역명
202101 0017 0017번(청암동~이촌동)    102000001 한강대교북단.LG유플러스      2524      1486
                              102000003 신용산역               1442      1324
                              102000029 한강대교북단              776       596
                              102000153 용문시장                236       158
                              102000154 용문시장                266       388
...                                                         ...       ...
202112 중랑02 중랑02(진로아파트~한신아파트) 106900025 새마을금고               229       167
                              106900026 진주빌라.바다약국           173       206
                              106900028 서일대정문               558       626
                              106900029 서일대정문                64        46
                              106900030 IBK기업은행면목동지점        532       288

[461005 rows x 8 columns]

In [14]:
pd_pivot.reset_index(inplace=True)

In [15]:
pd_pivot

,사용년월,노선번호,노선명,표준버스정류장ID,역명,10시하차총승객수,17시승차총승객수,18시승차총승객수,19시승차총승객수,20시승차총승객수,7시하차총승객수,8시하차총승객수,9시하차총승객수
0,202101,0017,0017번(청암동~이촌동),102000001,한강대교북단.LG유플러스,1308,624,1296,526,344,2280,2524,1486
1,202101,0017,0017번(청암동~이촌동),102000003,신용산역,946,368,564,494,430,1260,1442,1324
2,202101,0017,0017번(청암동~이촌동),102000029,한강대교북단,262,680,792,722,654,208,776,596
3,202101,0017,0017번(청암동~이촌동),102000153,용문시장,228,516,612,398,324,102,236,158
4,202101,0017,0017번(청암동~이촌동),102000154,용문시장,286,146,242,302,254,140,266,388
...,...,...,...,...,...,...,...,...,...,...,...,...,...
461000,202112,중랑02,중랑02(진로아파트~한신아파트),106900025,새마을금고,210,43,33,22,21,123,229,167
461001,202112,중랑02,중랑02(진로아파트~한신아파트),106900026,진주빌라.바다약국,192,3,0,5,1,67,173,206
461002,202112,중랑02,중랑02(진로아파트~한신아파트),106900028,서일대정문,527,7,5,9,11,96,558,626
461003,202112,중랑02,중랑02(진로아파트~한신아파트),106900029,서일대정문,24,361,286,196,124,16,64,46
461004,202112,중랑02,중랑02(진로아파트~한신아파트),106900030,IBK기업은행면목동지점,203,51,61,47,15,538,532,288

In [16]:
pd_pivot.to_csv("2021년_버스노선별_정류장별_시간대별_승하차_인원_정보(정리완료).csv")