In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('지하철_시간대별_인원정보(최종).csv')

In [22]:
df.tail()

,사용월,호선명,지하철역,07시-08시 하차인원,08시-09시 하차인원,09시-10시 하차인원,17시-18시 승차인원,18시-19시 승차인원,19시-20시 승차인원,lat,lng
28728,202101,중앙선,원덕,125,291,221,426,281,128,NaN,NaN
28729,202101,중앙선,중랑,2398,4711,3538,5209,5435,3414,NaN,NaN
28730,202101,중앙선,지평,58,72,0,36,25,104,NaN,NaN
28731,202101,중앙선,팔당,957,1723,2584,2399,2056,1440,NaN,NaN
28732,202101,중앙선,회기,20140,36447,23753,38726,33776,18974,NaN,NaN

In [48]:
df['lat'].fillna(0, inplace=True)
df['lng'].fillna(0, inplace=True)

df_nan_location = df[df['lat'] == 0]

In [59]:
df_update = df_nan_location.drop(columns=["사용월",'07시-08시 하차인원', '08시-09시 하차인원', '09시-10시 하차인원', '17시-18시 승차인원', '18시-19시 승차인원', '19시-20시 승차인원'])

In [67]:
df_update.keys()

Index(['호선명', '지하철역', 'lat', 'lng'], dtype='object')

In [69]:
df_update = df_update.pivot_table(index=['지하철역','호선명']).reset_index()

In [70]:
df_update['호선명'].unique()

array(['우이신설선', '경원선', '05호선', '경의선', '수인선', '중앙선', '08호선', '09호선', '장항선',
       '09호선2단계', '공항철도', '01호선'], dtype=object)

In [74]:
df_update.to_csv('지하철_위치정보_없음.csv', encoding='cp949')

---

In [79]:
df_sub_local = pd.read_csv("지하철_위치정보_있음.csv", encoding='cp949', index_col=0)
df_sub_local

        지하철역    호선명        lat         lng
0   4-19민주묘지  우이신설선  37.649707  127.013672
1         가능    경원선  37.748600  127.044176
2        가오리  우이신설선  37.641729  127.016799
3         강일   05호선  37.557609  127.175760
4         검암    경의선  37.569452  126.673640
..       ...    ...        ...         ...
95        한남    경원선  37.529420  127.008965
96      한성백제   09호선  37.516608  127.116259
97        화계  우이신설선  37.634187  127.017521
98        회기    중앙선  37.589977  127.058031
99        회룡    경원선  37.724683  127.047203

[100 rows x 4 columns]

In [81]:
df.head()

,사용월,호선명,지하철역,07시-08시 하차인원,08시-09시 하차인원,09시-10시 하차인원,17시-18시 승차인원,18시-19시 승차인원,19시-20시 승차인원,lat,lng
0,201812,01호선,동대문,12351,26881,29182,39400,34293,24070,37.571420,127.009745
1,201812,01호선,동묘앞,9730,25609,17526,39779,26478,12439,37.572627,127.016429
2,201812,01호선,서울,96780,212724,157731,169677,232724,137205,37.554648,126.972559
3,201812,01호선,시청,62827,182997,86988,83234,154545,77485,37.564718,126.977108
4,201812,01호선,신설동,25436,68570,39791,44388,68081,30156,37.575297,127.025087

In [82]:
df.to_csv('지하철_시간대별_인원정보(위치정보_최종).csv',encoding='cp949')

In [85]:
df_result = pd.read_csv('지하철_시간대별_인원정보(위치정보_최종).csv',encoding='cp949',index_col=0)
df_result

,사용월,호선명,지하철역,07시-08시 하차인원,08시-09시 하차인원,09시-10시 하차인원,17시-18시 승차인원,18시-19시 승차인원,19시-20시 승차인원,lat,lng
0,201812,01호선,동대문,12351,26881,29182,39400,34293,24070,37.571420,127.009745
1,201812,01호선,동묘앞,9730,25609,17526,39779,26478,12439,37.572627,127.016429
2,201812,01호선,서울,96780,212724,157731,169677,232724,137205,37.554648,126.972559
3,201812,01호선,시청,62827,182997,86988,83234,154545,77485,37.564718,126.977108
4,201812,01호선,신설동,25436,68570,39791,44388,68081,30156,37.575297,127.025087
...,...,...,...,...,...,...,...,...,...,...,...
28728,202101,중앙선,원덕,125,291,221,426,281,128,37.468667,127.547052
28729,202101,중앙선,중랑,2398,4711,3538,5209,5435,3414,37.595031,127.075876
28730,202101,중앙선,지평,58,72,0,36,25,104,37.476674,127.629756
28731,202101,중앙선,팔당,957,1723,2584,2399,2056,1440,37.547597,127.243749
28732,202101,중앙선,회기,20140,36447,23753,38726,33776,18974,37.589977,127.058031